@page "/createproductform"
@rendermode InteractiveServer
@layout Layout.EmptyLayout
@inject NavigationManager Navigation
@inject ApiClient Api

<EditForm Model="Model" OnValidSubmit="Submit" FormName="CreateProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Description: 
        <InputText @bind-Value="Model!.description" />
    </label>
    <label>
        Display Name:
        <InputText @bind-Value="Model!.displayName" />
    </label>
    <label>
    <InputSelect class="form-select" @bind-Value="Model!.licenseTemplateId">
	@if (licenseTemplates is null)
	{
	<option selected value="">None</option>
	}
	else{
	 @for (int i = 0; i< licenseTemplates.Length; i++)
	{
	   <option value="@licenseTemplates[i].id">@licenseTemplates[i].name (ID: @licenseTemplates[i].id)</option>
	}
	}
</InputSelect>
</label>
    <label>
        Name:
        <InputText @bind-Value="Model!.name" />
    </label>
    <button type="submit">Submit</button>
    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</EditForm>

@code {

    private Product? Model { get; set; } = new();
    
    private LicenseTemplate[]? licenseTemplates { get; set; }

    protected override async Task OnInitializedAsync() {

	 licenseTemplates = await Api.GetJsonAsync<LicenseTemplate[]>("v3/license-templates");
	 if (licenseTemplates?.Length > 0){
	 Model.licenseTemplateId = licenseTemplates[0].id;
	 } 
    }
    private async Task Submit()
    {
	Console.WriteLine("Da Name: ", Model!.name);
	Console.WriteLine("Da License Template selected:", Model!.licenseTemplateId);
	// send and deserialize JSON response
	// var response = await Api.PostJsonAsync("v3/products", Model);
	// if (response.IsSuccess)
	// {
	//    Console.WriteLine("Success");
	// }
	// else
	// {
	//    Console.WriteLine(response.Content);
	// }
    }

   
    
    private void Cancel() => Navigation.NavigateTo("products");
}
