@page "/createproductform"
@rendermode InteractiveServer
@layout Layout.EmptyLayout
@inject NavigationManager Navigation
@inject ApiClient Api

<EditForm Model="prodModel" OnValidSubmit="Submit" FormName="CreateProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Description: 
        <InputText @bind-Value="prodModel!.description" />
    </label>
    <label>
        Display Name:
        <InputText @bind-Value="prodModel!.displayName" />
    </label>
    <label>
    <InputSelect class="form-select" @bind-Value="prodModel!.licenseTemplateId">
	@if (licenseTemplates is null)
	{
	<option selected value="">None</option>
	}
	else{
	 @for (int i = 0; i< licenseTemplates.Length; i++)
	{
	   <option value="@licenseTemplates[i].id">@licenseTemplates[i].name (ID: @licenseTemplates[i].id)</option>
	}
	}
</InputSelect>
</label>
    <label>
        Name:
        <InputText @bind-Value="prodModel!.name" />
    </label>
    <button type="submit">Submit</button>
    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</EditForm>

@code {

    private Product? prodModel { get; set; } = new();
    
    private LicenseTemplate[]? licenseTemplates { get; set; }

    protected override async Task OnInitializedAsync() {

	 licenseTemplates = await Api.GetJsonAsync<LicenseTemplate[]>("v3/license-templates");
	 if (licenseTemplates?.Length > 0){
	 prodModel.licenseTemplateId = licenseTemplates[0].id;
	 } 
    }
    private async Task Submit()
    {
	// send and deserialize JSON response
	 var response = await Api.PostJsonAsync("v3/products", prodModel);
	 if (response.IsSuccess)
	 {
	    Navigation.NavigateTo("products");
	 }
	 else
	 {
	   // error handling
	    Console.WriteLine(response.Content);
	 }
    }

   
    
    private void Cancel() => Navigation.NavigateTo("products");
}
